pre {
	margin: auto;
}

ul {
	display: inline-block;
}

.centered {
	text-align: center;
}

.slide-text {
	margin-top: 20px;
	font-size: 40px;
}

.page-title {
	border: 2px solid #ee3467;
	background-color: #ffffff;
	color: black;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-family: Arial;
	font-size: 300%;
}

.page-button {
	margin-top: 10px;
	margin-bottom: 25px;
}

.item,
.item > a {
	font-size: 30px;
	color: #ee3467;
}

.item-title {
	font-size: 30px;
	color: #cc0052;
	font-weight: bold;
}

.query-text {
	font-size: 250%;
	padding: 5px;
}
